<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：名称空间，数据库操作对象接口的全类名，相当于告诉MyBatis这个配置文件是实现的哪个接口-->
<mapper namespace="com.yolyn.mybatislearning.EmployeeMapper">
    <!--select:用来定义一个查询操作
        id：方法名，相当于这个配置是对于某个方法的实现
        resultType：指定方法运行后的返回值类型（查询操作必须指定）
        #{属性名}：代表取出传递过来的某个参数值
    -->
    <select id="getEmployeeById" resultType="employee">
    select * from t_employee where id = #{id}
  </select>
    <!--RowBounds是MyBatis配置文件的一个默认参数，会自动识别它，根据这个进行分页-->
    <select id="findByRowBounds" resultType="employee">
    select * from t_employee where gender = #{gender}
  </select>

    <insert id="addEmployee" parameterType="employee" useGeneratedKeys="true" keyProperty="id">
        insert into t_employee (empname,gender,email) values (#{empName},#{gender},#{email})
    </insert>
</mapper>